h1,
h2,
h4 {
  font-family: "Josefin Sans";
}
h1,
h5 {
  color: green;
  margin: 15px;
}
body {
  background-color: beige;
}
.col {
  margin-top: 8px;
  margin-left: 5px;
}
.card-text {
  text-align: center;
}
